@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: roboto;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
body ul {
  list-style: none;
}

a, main .main-section .btnInscription, header .header-nav .red-bg {
  text-decoration: none;
  color: black;
  padding: 10px;
}

main .main-section .btnInscription, header .header-nav .red-bg {
  background-color: red;
  color: white;
  border-radius: 6px;
}

header {
  padding: 0 10%;
  margin-block: 1rem;
  width: 100%;
  height: 100%;
}
header #menu_burger {
  cursor: pointer;
  display: none;
  color: red;
  font-weight: bold;
  border: 0;
  background-color: white;
}
header .header-nav > div {
  color: red;
  font-size: 3em;
  font-weight: bold;
}
header .header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-nav .red-bg {
  text-decoration: underline;
}

nav > ul {
  display: flex;
}

main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}
main .sectionSecondaire {
  display: none;
}
main .main-section {
  padding: 35px 0 35px 4%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), center top/cover url("../images/player.png");
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  border-radius: 12px;
  justify-content: space-around;
  gap: 20px;
}
main .main-section__title {
  width: 80%;
  font-size: 6rem;
  font-weight: 200;
}
main .main-section .btnInscription {
  border: 0;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  cursor: pointer;
}
main .modaleInscription, main .modaleInscriptionValidee {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(51, 51, 51, 0.8274509804);
}
main form {
  top: 2%;
  left: 33.5%;
  max-width: 500px;
  min-width: 300px;
  background-color: #313131;
  color: white;
  position: relative;
  border-radius: 13px;
  padding: 12px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main form .form__btnFermer {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 8px;
  align-items: flex-end;
  border: 0;
  background-color: #313131;
  color: white;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 1.2em;
}
main form input[type=text], main form input[type=email], main form input[type=date], main form input[type=number] {
  width: 100%;
  height: 50px;
}
main form input[type=submit] {
  color: white;
  background-color: red;
  padding: 15px 35%;
  border: 0;
  border-radius: 6px;
}
main form .btnDiv {
  padding: 0 35%;
}
main form .erreur {
  font-size: 0.7em;
  color: red;
}
main form #envoyer {
  cursor: pointer;
}
main .modaleInscriptionEnregistree {
  top: 2%;
  left: 33.5%;
  max-width: 450px;
  min-width: 300px;
  font-family: "Times New Roman";
  background-color: #313131;
  color: white;
  height: 700px;
  position: relative;
  border-radius: 15px;
  padding: 12px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .modaleInscriptionEnregistree .form__btnFermerDeux {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 8px;
  align-items: flex-end;
  border: 0;
  background-color: #313131;
  color: white;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 1.2em;
}
main .modaleInscriptionEnregistree .btnDiv {
  padding: 0 35%;
}
main .modaleInscriptionEnregistree .btnDiv .btnFermer {
  cursor: pointer;
  color: white;
  background-color: red;
  padding: 15px 37%;
  border: 0;
  border-radius: 6px;
}
main .modaleInscriptionEnregistree .accueilMessage {
  font-size: calc(1rem + 1vh);
}
main .modaleInscriptionEnregistree .accueilMessage .span {
  display: none;
}
main .modaleInscriptionEnregistree .accueilMessage .pUn {
  padding: 0 35.5%;
}
main .modaleInscriptionEnregistree .accueilMessage .pDeux {
  padding: 0 29%;
}

.modaleInscription, .modaleInscriptionValidee {
  display: none;
}

footer {
  padding: 1.5% 5%;
  color: red;
  font-size: 0.7em;
}

@media only screen and (max-width : 768px) {
  body {
    height: 100%;
  }
  header {
    padding: 0 5%;
    width: 100%;
    height: 100%;
  }
  header .header-nav > div {
    font-size: 1.5em;
  }
  header .header-nav .red-bg {
    background-color: skyblue;
    padding: 0;
    border: 0;
    color: red;
  }
  header #menu_burger {
    display: block;
  }
  header #menu_burger::before {
    content: "☰";
  }
  header .header-nav > ul {
    position: fixed;
    left: -100%;
    top: 5%;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 25%;
    text-align: center;
    transition: 0.25s;
    background-color: skyblue;
  }
  header .active #menu_burger::before {
    content: "✕";
  }
  header .active ul {
    left: 0;
  }
  main {
    padding: 0 5%;
  }
  main .main-section {
    display: none;
  }
  main .sectionSecondaire {
    display: flex;
    margin: 0;
    width: 100%;
    /*display: flex;*/
    flex-direction: column;
    color: black;
    background: white;
    height: auto;
    gap: 20px;
  }
  main .sectionSecondaire img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
  main .sectionSecondaire__title {
    font-size: 1.5em;
  }
  main .sectionSecondaire .btnInscriptionDeux {
    border: 0;
    padding: 15px;
    display: inline-block;
    margin-left: 37%;
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 6px;
  }
  main form, main .modaleInscriptionEnregistree {
    width: auto;
    left: 0;
  }
  main .modaleInscriptionEnregistree {
    min-height: 350px;
  }
  main .modaleInscriptionEnregistree .accueilMessage .pUn, main .modaleInscriptionEnregistree .accueilMessage .pDeux {
    display: none;
  }
  main .modaleInscriptionEnregistree .accueilMessage .span {
    display: block;
    padding: 0 25%;
    line-height: 1.4em;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
